.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .update-device-details {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .update-device-title {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .update-device-details p {
    margin-bottom: 10px;
  }
  
  .update-device-details img {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  